<!DOCTYPE html>
<html>
    <head>
        <title>Ping Pong</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    </head>
    <body>
        <div class="container">
          <h1>Play Ping Pong!</h1>
            <form action="/pingpong" method="post">

              <label for="number">Enter a number: </label>
              <input type="text" name="number" id="number">

              <button type="submit" name="button">Ping!</button>

            </form>
        </div>
    </body>
</html>
