<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping Pong output</title>
  </head>
  <body>
    <p> The output for @Model.GetInput(), using PingPong is ...</p>
    <p>@Model.PingpongCheck()</p>
  </body>
</html>
